{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.delete_photo %}
        <li><a href="{% url 'webapp:photo_delete' photo.pk %}">Delete <i class="fas fa-edit"></i></a></li>    {% endif %}
    {% if perms.webapp.change_photo or photo.author == request.user %}
        <li><a href="{% url 'webapp:photo_update' photo.pk %}">Update <i class="fas fa-edit"></i></a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <img class="photo" src="{{ photo.image.url }}" width="250" height="auto" alt="picture">
        <p class="pre">Подпись: {{ photo.signature }}</p>
        <p>Автор: {{ photo.author }}</p>
        <p>Время создания: {{ photo.created_at }}</p>
{#        <p><a href="{% url 'product_review_add' product.pk %}" class="card-button">Add review</a></p>#}
{#        <h3>Reviews:</h3>#}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{#        {% for review in reviews %}#}
{#        {% if review.status.pk == 1 or perms.webapp.change_review %}#}
{#        <div class="box">#}
{#            <h3>Автор:#}
{#                <a href="{% url 'accounts:detail' review.author_id %}" class="card-link">{{ review.author }}</a>#}
{#            </h3>#}
{#            <p>Email: {{ review.author.email }}</p>#}
{#            <p>Rate: {{ review.rating }}</p>#}
{#            <p>Status: {{ review.status }}</p>#}
{#            <hr>#}
{#            <div class="pre">{{ review.text }}</div>#}
{#            {% if perms.webapp.change_product %}#}
{#                <p><a href="{% url 'moderate' review.pk %}" class="card-link">Moderate</a></p>#}
{#            {% endif %}#}
{#            {% if perms.webapp.change_review or review.author == request.user %}#}
{#                <p><a href="{% url 'review_update' review.pk %}" class="card-link">Update</a></p>#}
{#            {% endif %}#}
{#            {% if perms.webapp.delete_review or review.author == request.user %}#}
{#                <p><a href="{% url 'review_delete' review.pk %}" class="card-link">Delete</a></p>#}
{#            {% endif %}#}
{#        </div>#}
{#         {% endif %}#}
{#        {% empty %}#}
{#            <p>Нет отзыва</p>#}
{#        {% endfor %}#}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}