<div class = "products">
        {% for photo in photos %}
            <div class="card">
                <div class="card-content">
                    <br/>
{#                    {% if perms.webapp.delete_product %}#}
{#                        <a href="{% url 'webapp:product_delete' product.pk %}" class="card-button"><i class="far fa-trash-alt"></i></a>#}
{#                    {% endif %}#}
{#                    {% if perms.webapp.change_product %}#}
{#                        <a href="{% url 'webapp:product_update' product.pk %}" class="card-button"><i class="far fa-edit"></i></a>#}
{#                    {% endif %}#}
                    <a href="{% url 'webapp:photo_view' photo.pk %}"><img class="photo" src="{{ photo.image.url }}" width="250" height="200" alt="picture"></a>
                    <p>Подпись: {{ photo.signature }}</p>
                    <p>Автор: {{ photo.author }}</p>
                    <p>Время создания: {{ photo.created_at }}</p>
                    <br/>
                </div>
		    </div>
        {% endfor %}
         {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>